{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 
    About Han 
{% endblock %}

{% block PageHeader %}

    <header class="masthead" style="background-image: url({% static 'img/post-sample-image.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>
                            Must Talk! Talk!
                        </h1>
                        <span class="subheading">
                            KaKaoTalk..?
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
